<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="" class="brand-logo center"></a>
        <a href="#"> <i class="fas"></i></a>

    </div>
    <div class="inner-nav">

        <ul class="sidebar">
            <li><a href="/posts">Go to Posts</a></li>
            <li> <a href="/posts/new">Create a post</a></li>
            <li> <a href="/dashboard"> Home</a></li>
            
        </ul>
    </div>
    <button class="logout-btn btn-floating btn-large red"> <a href="/auth/logout"> Logout</a></button>
</nav>