<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <title>Login view</title>
</head>

<body>

    <div class="login-container">
        <h1>Welcome to your KonnectSpace</h1>
        <h3>Login to get started</h3>
    </div>

    <div class="section">
        <a href="/auth/google" class="btn red">
            <i class="fab fa-google right"> Login with google</i>
        </a>
    </div>
    <div class="login-img"></div>

</body>

</html>