<%- include('partials/head') %>

<!-- // adding a post -->

<body>

    <div class="i-container">
        <div class="i-image"></div>
        <div class="i-form">
            <h3>What's on your mind.. ?</h3>
            <form action="/posts" method="POST">
                <label for="title">Title:</label><br>
                <input type="text" name="title" />
                <br>

                <label for="image">Image:</label><br>
                <input type="text" name="img" id="img" />
                <br>

                <label for="Submit"></label><br>
                <input type="submit" value="Post" />

            </form>
        </div>
    </div>
    <a href="/posts" class="post-link">Back to post</a>

</body>