body {
    background-color: darkgrey;
    color: whitesmoke;
}

.section {
    border: 1px solid black;
}
.title-section {
    width: 60%;
    /* border: 5px solid red; */
    text-align: center;
    margin: 0 auto;
    margin-top: 7%;
}
.login-tile {
    font-size: 100px;
}
.sidebar {
    text-align: center;
    width: 30%;
    margin: 50px;
    margin-top: 175px;
    padding: 50px;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
}

/* navigation  */
.inner-nav ul li {
    padding: 15px;
    /* border: 1px solid red; */
}

.logout-btn {
    position: absolute;
    left: 95%;
    bottom: 90%;
}
.main-content {
    /* border: 1px solid rgb(0, 129, 28); */
    position: relative;
    width: 40%;
    left: 600px;
}
.create-title {
    color: black;
    font-size: 30px;
    text-align: center;
}

/* index container  */
.i-container {
    /* border: 2px solid red; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

label {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

/* links  */
a {
    text-decoration: none;
    /* font-size: 20px; */
    color: whitesmoke;
}
a:hover {
    background-color: aliceblue;
    color: black;
}

input[type='submit']:hover {
    cursor: pointer;
}

.post-container {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    left: 600px;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
}
.post-link {
    font-size: 20px;
}

.edit-container {
    text-align: center;
    border: 1px solid blue;
    width: 50%;
    color: whitesmoke;
    margin: 0 auto;
    font-size: 20px;
}

/* forms  */
form {
    font-size: 30px;
}

/* login container  */
.login-container {
    /* border: solid red 2px; */
    width: 60%;
    text-align: center;
    padding: 30px;
    /* background-image: url('https://cdn.mos.cms.futurecdn.net/grZ46G9d7YfYZq7VvJPSaB-1200-80.jpg'); */
    color: black;
}

 /* show page container */
 .show-container {
     text-align: center;
     background-image: url('post.img');
 }

/* == general ==  */